
<div class="card mx-auto" style="width: 50%;border: none;">
    <div class="card-header" style="background-color: white;border:none">
        <h1> Account Information </h1>
      </div>


<div class="card-body " >
    <ul class="list-group ">
      <li class="list-group-item">
          <div class="row">
            <div class="col-10">
                <h5><b>Name:</b></h5>
            {{userDetails.Name}}
            </div>  
            <div class="col-2">  
                <button type="button" class="btn btn-light">Edit</button>
            </div>
        </div>
        </li>

        <li class="list-group-item">
            <div class="row">
              <div class="col-10">
                  <h5><b>Email:</b></h5>
                  {{userDetails.Email}}
              </div>  
              <div class="col-2">  
                  <button type="button" class="btn btn-light">Edit</button>
              </div>
          </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-10">
                  <h5><b>Phone No:</b></h5>
                  {{userDetails.PhoneNo}}
              </div>  
              <div class="col-2">  
                  <button type="button" class="btn btn-light">Edit</button>
              </div>
          </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-10">
                  <h5><b>Shipping Address:</b></h5>
                  {{userDetails.ShippingAddress}}
              </div>  
              <div class="col-2">  
                  <button type="button" class="btn btn-light">Edit</button>
              </div>
          </div>
          </li>
          <!-- How to add password-->

          <li class="list-group-item" style="background-color: white;border:none">
            <button type="button" class="col-2 btn btn-warning" >Done</button>
          </li>
    </ul>
</div>
<div>

</div>

</div>