<div class="card mx-auto" style="width: 50%;border: none;" *ngIf="categoryDetails">
    <div class="card-header" style="background-color: white;border:none">
        <h1> Update Category </h1>
    </div>


    <div class="card-body ">
        <ul class="list-group ">
            <!--- CName -->
            <ng-template [ngIf]="isEditing" [ngIfElse]="isShowing">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>Category Name:</b></h5>
                            <input type="text" class="form-control" [(ngModel)]="duplicateCategoryData.CName">
                        </div>
                    </div>
                </li>

                <!-- CImage -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>Category Image:</b></h5>
                            <input class="form-control" id="cimage" type="file" (change)="onFileSelected($event)">
                        </div>
                    </div>
                </li>


                <!--- CDescription -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>Category Description:</b></h5>
                            <textarea class="form-control" cols="30" rows="5"
                                [(ngModel)]="duplicateCategoryData.CDescription">
                                </textarea>
                        </div>
                    </div>
                </li>

                <!--- CImage -->
                <!-- <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>ShippingAddress:</b></h5>
                            <input type="text" class="form-control" [(ngModel)]="duplicateCategoryData.CImage">
                        </div>
                    </div>
                </li> -->

                <!--CStatus-->

                <!--- CPosition -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>Category Position:</b></h5>
                            <input type="text" class="form-control" [(ngModel)]="duplicateCategoryData.CPosition">
                        </div>
                    </div>
                </li>

            </ng-template>

            <ng-template #isShowing>
                <!-- CName -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>Category Name:</b></h5>
                            <p>{{categoryDetails.CName}}</p>
                        </div>

                    </div>
                </li>

                <!--- CDescription -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>Category Description:</b></h5>
                            <p>{{categoryDetails.CDescription}}</p>
                        </div>
                    </div>
                </li>

                <!--- CImage -->
                <!-- <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>ShippingAddress:</b></h5>
                            <p> {{userDetails.ShippingAddress}}</p>
                        </div>
                    </div>
                </li> -->

                <!--- CStatus -->
                <!-- <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>Email (also your username):</b></h5>
                            <p> {{userDetails.Username}}</p>
                        </div>
                    </div>
                </li> -->

                <!--- CPosition -->
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            <h5><b>CPosition:</b></h5>
                            <p>{{categoryDetails.CPosition}}</p>
                        </div>
                    </div>
                </li>
            </ng-template>
            <li class="list-group-item" style="background-color: white;border:none">
                <button type="button" class="btn btn-light" (click)="handleEditButton()">{{buttonText}}</button>
                <button type="button" class="col-2 btn btn-primary" (click)="updateCategory()">Save</button>

                <a style="text-decoration: none; color: inherit;" routerLink="/categories">
                    <button type="button" class="col-2 btn btn-warning">Done</button>
                </a>
            </li>
        </ul>





    </div>
</div>