<div class="container">
    <div class="alert alert-primary" role="alert">
        Only category/1, category/2 and category/4 are available.
    </div>
    <div class="alert alert-primary" role="alert">
        Only book/1 and book/2 are available.
    </div>
    <div class="card m-4" *ngFor="let book of bookList">
        <a routerLink="/book/{{book.BId}}" style="text-decoration: none; color: inherit; list-style: inherit;">

            <div class="card-header">
                {{book.CName}}
            </div>


            <div class="card-body">
                <div class="row">

                    <div class="col-4"><img class="card-img-top" src={{book.BImage}} alt="Card image cap"></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{book.BTitle}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-text">{{book.BDescription}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <p class="card-text">Year: {{book.BYEAR}}</p>

                            </div>
                            <div class="col-4" style="padding-left: 0px;  padding-right: 0px;">
                                <fa-icon class="fa-3x" [icon]="faISBN"></fa-icon>

                                <p>{{book.BISBN}}</p>
                            </div>


                        </div>
                    </div>
                    <div class="col-2" style="padding-top: 6rem;  padding-bottom: 3rem;">
                        <fa-icon class="fa-2x" [icon]="faCart"></fa-icon>
                        <fa-icon class="fa-2x" [icon]="faHeart"></fa-icon>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>