<div class="container">
    <main>
        <div class="text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg"
                alt="" width="72" height="57">
            <h2>Add Category</h2>
        </div>

        <div class="row g-5">
            <div class="col-sm-0 col-md-1 col-lg-2 "></div>
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" [formGroup]="addCategoryForm" (ngSubmit)="handleAddCategory()">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="cname" class="form-label">Name</label>
                            <input type="text" class="form-control" formControlName="cname" id="cname"
                                placeholder="Category Name" required
                                [ngClass]="{ 'is-invalid': addCategoryForm.get('cname')?.touched && addCategoryForm.get('cname')?.invalid }">
                            <div class="invalid-feedback">
                                Valid Name is required.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="cdescription">Description</label>
                            <textarea class="form-control" placeholder="Enter Category Description" id="cdescription"
                                formControlName="cdescription"
                                [ngClass]="{ 'is-invalid': addCategoryForm.get('cdescription')?.touched && addCategoryForm.get('cdescription')?.invalid }">
                            </textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3 col-sm-12 col-lg-2">
                            <button [disabled]="addCategoryForm.invalid" class="btn btn-primary" type="submit">Add
                                Category</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>