@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/*===== Variable Define =====*/
$primary-color: #9b5de5;

body {
  font-family: "Poppins", sans-serif !important;
}
small,
span {
  font-weight: 600;
}
.headline {
  color: $primary-color;
}
.main-btn {
  background-color: $primary-color;
  border-radius: 30px;
}

@media (max-width: 767px) {
  .main-btn {
    margin-top: 20px;
  }
}
